html, body{
    margin:0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}

 html{
   scroll-behavior: smooth;
  }

 body {
/*font-family: "Roboto", sans-serif;*/
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-style: normal;
  background: #282f44;/*space cadet*/
 
  
 
  
}

.info-bar{
background-color: #1b2a41; /* Oxford blue */
color:white;
text-align: center;
font-size: 0.8rem;
position:fixed;
top:0;
width:100%;
z-index: 1000;
border-bottom: 1px solid #BA2C73; /* Línea delgada */
}

/*Estilos para la barra de navegación*/
nav{
top:2.5rem;
position:fixed;
display:flex;
width:100%;
height:6rem;
justify-content: space-between;
align-items:center;
padding: 0 1.25rem;
background-color:  #282f44;/*space cadet*/
font-size: 1.2rem;
/*box-shadow: 0px 0px 10px #00000080;*/
z-index: 999;

}

nav ul{
    display: flex; /*Ubica la lista en fila horizontal*/
    margin:0;
    padding: 6.25rem;
}

nav ul li{
    list-style: none; /*Elimina las viñetas*/
    margin: 0 1.563rem;
}

nav ul li a{
    text-decoration: none; /*elimina el subrayado*/
    color:#ffff
}

nav ul li a:hover{
    color:#BA2C73
}

.logo {
    margin-top: 1rem;
    width: 10rem;
}

.nav-izquierda{
    display: flex; /*posiciona los elementos hacia la izquierda*/
    align-items: center;
    margin-left: -10rem;
}

.nav-derecha{
    display: flex;
    align-items: center;
}

.contenedor-input {
    position: relative; /* Para posicionar el ícono dentro del input */
    display: flex;
    align-items: center;
  }

/*Estilos para la barrita de búsqueda*/
.input-search{
    width:150px;
    padding: 8px;
    border-radius: 10px; 
    font-size: 1rem;
    outline: none; /* Elimina el borde azul al hacer click*/
    transition: width 0.4s ease-in-out;
}

.input-icon{
    position: absolute;
    top:10px;
    left: 10px; /* se ubica a la izquierda de la barra*/
    font-size: 1.2rem;
    color: #ffff;
}

/*Al enfocar se extiende la barra de búsqueda */
.input-search:focus {
    width: 250px;
  }

/*Banner principal*/
.contenedor-banner{
    position: relative;
    top:8.5rem;
    width: 100%;
    height: 65vh;
    background-image: url(../img/TAGHeuer-TopBanner-Carrera-ChampiRouge.webp);
   
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.content-banner{
    position:absolute;
    top: 80%;
    left:50%;
    font-optical-sizing: auto;
    transform:translate(-50%, -50%);
}
.contenedor-banner h1{
    font-size: 3rem;
    color:#ffffff;
    text-transform: uppercase;
}



/* Sección con el efecto de desenfoque */
.blur-section {
    padding: 50px;
    margin-top: 135px; /* Asegura que el blur section esté después del banner */
   
   }

.blur-container {
    background: #191d327e;
   
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 15px;
    color: white;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.3);
}

.blur-container h1 {
    text-align: start;
    
}
