/*fuente principal*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*reseteo de valores par defecto*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/**********Inicio del Index**********/

html {
  scroll-behavior: smooth;/*suaviza el scroll*/
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  background-color: #323941;
}

.info-bar {
  top:0;
  background-color: #3E4C59;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
 font-style: oblique;
  position: fixed;
  width: 100%;
  height: 30px;
  z-index: 1000; /*z-index muy alto para asegurar que esté por encima de otros elementos */
}

/* Estilos para la barra de navegacion */
nav {
  top:30px;
  position: fixed;
  display:flex;
  width: 100%;
  height: 96px;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #282f445f;
  backdrop-filter: blur(10px);
  font-size: 1.2rem;
  color: #ffffff;
  /*border-bottom: 1px solid rgba(255, 255, 255, 0.4); */
  box-shadow: 0px 0px 10px #00000067;
  z-index: 999; /* Mayor valor de z-index para asegurar que esté sobre el fondo */
}

nav::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 5%; /* Centrar la línea */
  width: 85%; /* 85% del ancho */
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

nav ul {
  display: flex; /*se ubica en línea la lista*/
  padding: 100px;
}

nav ul li {
  list-style: none; /*se eliminan las viñetas de los elementos de la lista*/
  margin: 0 25px;
}

nav ul li a {
  text-decoration: none;/*se elimina el subrayado a los elementos*/
  color: #ffffff;
}

nav ul li a:hover {
  color: #39f2ae;
}

.logo {
  width: 250px;
}

.nav-izquierda {
  display: flex; /*para mantener el logo y los elementos juntos a la izquierda */
  align-items: center;
  margin-left: -160px;
}

.nav-derecha {
  display: flex;
  align-items: center;
}

/* Contenedor del input */
.contenedor-input {
  position: relative; /* Para poder posicionar el ícono dentro del input */
  display: flex;
  align-items: center;
}

/* Estilo de la barrita de búsqueda */
.input-search {
  width: 160px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 1rem;
  outline: none;
  transition: width 0.4s ease-in-out;
  background-color: rgba(0, 0, 0, 0.2);
  color: #ffffff;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.478);
}


/* Ícono de lupa */
.search-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 1.2rem;
  color: #ffff;
}

/*Al enfocar se extiende la barra de búsqueda */
.input-search:focus {
  width: 250px;
}

.contenedor {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100vh;
  margin-top: 40px;
  position: relative;
  overflow: hidden;
  background-image: url(../assets/img/imgen1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.contenedor { /*contenedor que aloja la imagen del reloj sobre el fondo*/
  img {
    margin-top: 24px;
    width: 430px;
    z-index: 5; /*para que quede por encima del overlay*/
  }
}

.superponer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  z-index: 4; /*Para que el oscurecimiento esté sobre la imagen de fondo */
}

.content {
  position: relative;
  z-index: 5; /*Contenido por encima de la imagen de fondo */
  color: rgb(255, 255, 255);
  font-optical-sizing: auto;
  padding: 16px;
}

.content {
  h1 {
    font-size: 3rem;
  }

  p {
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: 1.5rem;
 }
}

.btnMain, .btnMain_1, .btnComprar {
  font-size: 1rem;
  padding: 10px 20px;
  border: 2px solid #39f2ae;
  border-radius: 1rem;
  width: 180px;
  cursor: pointer;
  margin-top: 32px;
}

.btnMain {
  background-color: #39f2ae8e;
  /*box-shadow: 1px 1px 5px #39f2ae;*/
  margin-right: 32px;
}

.btnMain_1, .btnComprar {
  background-color: transparent;

}

.btnMain a, .btnMain_1 a, .btnComprar a {
  text-decoration: none;
  color: #ffffff;
}

/***** Seccion destacados****/
.headline {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 110px;
  font-size: 2rem;
  color: #ffffff;
  /*text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Sombra suave negra */
}

.all-products {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.product {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 24px;
  overflow: hidden;
  color: #39f2ae;
  border-radius: 18px;
  border: 2px solid #39f2ae;
  box-shadow: 2px 2px 15px #39f2ae inset;
}

.product-title {
  font-size: 1.2rem;
  padding-bottom: 16px;
 }

.product-off {
  font-style: oblique;
  color: #ffffff;
  background-color: #39f2ae62;
  box-shadow: 1px 1px 5px #39f2ae;
  padding:3px;
}

.product-shipping {
  font-style: oblique;
  color: #b1b5c0;
  padding-top: 16px;
}

.product img {
  width: 180px;
  margin: 10px;
  transition: all 0.3s;
}

.product:hover img {
  scale: 1.1;
}

.product-btn {
  display: inline-block;
  border: 2px solid #39f2ae;
  background-color: #323941;
  padding: 10px 20px;
  border-radius: 16px;
  margin-top: 16px;
  font-size: 1rem;
  transition: all 0.2s;
}

.product-btn a {
  text-decoration: none;
  color: #ffff;
}

.product-btn:hover {
  transform: scale(1.1);
}

/*estilos para la seccion colecciones*/
.coleccion-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hombre, .mujer {
  position: relative;
  overflow: hidden;
}

.hombre img, .mujer img {
  width: 640px;
  opacity: 0.9;
}

.hombre h1, .mujer h1 {
  position: absolute;
  font-size: 2.5rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.806);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.btn {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%); /*corrige 50% para la izquierda*/
  background-color: transparent;
  color: #ffffff;
  font-size: 1.2rem;
  padding: 10px 20px;
  border: 2px solid #39f2ae;
  border-radius: 16px;
  width: 30%;
  cursor: pointer;
}

.btn a {
  text-decoration: none;
  color: #ffffff;
}

/*Estilos seccion categorias*/
.categorias_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.categorias_headline {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  font-size: 2rem;
  color: #ffffff;
}

.categoria {
  position: relative;
  overflow: hidden;
  transition: ease 0.5s;
  cursor: pointer;
}

.categoria img {
  width: 220px;
  aspect-ratio: 2/3;
  transition: 0.5s ease;
  /*box-shadow: 3px 3px 5px #b1b5c0;*/
}

.categoria:hover {
  transform: scale(1.03);
}

.categoria h2 {
  position: absolute;
  top: 16px;
  left: 0;
  right: 0;
  border-top: 2px solid #39f2ae;
  border-bottom: 2px solid #39f2ae;
  background: rgba(255, 255, 255, 0.227); /* Fondo semitransparente para el texto */
  color: #ffffff;
  padding: 10px;
  z-index: 1; /*Me aseguro de que el texto quede por encima de la imagen */
  text-align: center;
  font-size: 1.5rem;
  backdrop-filter: blur(5px);
}

/**Estilos sección servicios**/
.servicios {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  background-color: #b1b5c0;
  padding: 32px;
  margin-top: 40px;
}

.servicios {
  i {
    padding: 28px;
    color: #39f2ae;
    filter: drop-shadow(1px 1px 3px black)
  }
}


.columna-izq {
  text-align: center;
  border-right: 2px solid rgba(0, 0, 0, 0.448);
}

.columna-medio {
  text-align: center;
  border-right: 2px solid rgba(0, 0, 0, 0.448);
}

.columna-der {
  text-align: center;
}

/*Estilos para el footer*/
.footer-container {
  display: grid;
  grid-template: 160px 160px 64px /1fr 1fr 1fr;
  grid-template-areas: "arriba-izq arriba-medio arriba-der"
    "centro-izq centro-medio centro-der"
    "abajo abajo abajo";
  width: 100%;
  gap: 20px;
  background-color: #2f4858;
  color: #b1b5c0
}

.arriba-izq {
  grid-area: arriba-izq;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
}

.arriba-izq ul {
  display: flex;
  list-style: none;
}

.arriba-izq ul li {
  padding: 13px;
}

.arriba-der {
  grid-area: arriba-der;
  padding-top: 32px;
  align-items: center;
}

.newsletter {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.newsletter i {
  margin-right: 16px;
}

.fa-envelope{
  color:#39f2ae
}

.email-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.email-input {
  padding: 8px;
  font-size: 1rem;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
  background-color: #30353c;
  color: #ffff;
}

.btnEmail {
  background-color: #39f2ae91;
  color: #ffffff;
  font-size: 1rem;
  padding: 8px 8px;
  border: 1px solid #39f2ae;
  border-radius: 8px;
  cursor: pointer;
}
.list-title {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 16px;
  color: #39f2ae;
}

.centro-izq {
  grid-area: centro-izq;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.centro-izq {
  ul {
 list-style: none;
 text-align: left;
  }
}
.centro-izq{
  li{
    padding-bottom: 10px;
  }
}

.centro-medio {
  grid-area: centro-medio;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.centro-medio address p{
  padding-bottom: 10px;
}

.centro-der {
  grid-area: centro-der;
}

.centro-der ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centro-der li {
list-style: none;
}

.centro-der img {
  width: 78px;
  height: auto;
  padding: 1rem;
}

.fa-brands {
    color: #39f2ae;
}

.abajo {
  grid-area: abajo;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3E4C59;
  border-top: 1px solid #39f2ae;
}

.abajo-content {
  color: #a0a4a8;
}

 .fa-whatsapp {
  color:rgb(23, 182, 23);
  font-size: 3rem;
  position:fixed;
  bottom:20px;
  right:20px;
  z-index: 1001;
}

/*animación para el ícono de whatsapp*/
.pulso { animation-name: pulso; animation-iteration-count: infinite; animation-duration: .8s }
@keyframes pulso {
    35%, 65% { transform: scale(1.2) }
}

/*botón de volver hacia arriba*/
.back_to_top {
  color:#a0a4a86a;
  font-size: 3rem;
  position:fixed;
  bottom:20px;
  left:20px;
  z-index: 1001;
}

.back_to_top:hover {
  color:#39f2ae;
}

/**********Fin del index**********/

/**********Inicio de página de contacto**********/

/* Estilos para la barra de navegacion */

.contacto{ /*contenedor de la sección contacto*/
  width: 50%;
  padding: 1.5rem;
  max-width: 900px; /* Establece un ancho máximo */
  display: flex;
  justify-content: center;
  align-items: center;
  margin:240px auto;
  box-shadow: 0 0 10px 0 #39f2ae;
  border-radius: 25px;
  background-color:#323941;
 
}

.contenedor_img { /*contenedor de la izquierda que aloja a la imagen */
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
 
}



.contacto_img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.contenedor_form{/*contenedor de la derecha que aloja al formulario*/
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 0 1.5rem; /* Reducción del padding en los lados */
  color:#f5f5f5f5;
  
}

.contacto_titulo{
  font-size: 2.2rem;
  font-family:'Courier New', Courier, monospace;
  font-weight: 400;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.contacto_form { /* estilos para el formulario */
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.contacto_input {
  height: 30px;
  outline: none;
  padding: 5px;
  border-bottom: 1.5px solid #39f2ae;/*nuevo borde inferior en cada input*/
  border-top: none;  /*Se eliminan los bordes del input */
  border-left: none;
  border-right: none;
  width: 100%;
  font-size: 16px;
  color:#f5f5f5;
  background-color: transparent;
}

.form_input_linea {
  margin-bottom: 25px;
  width: 100%;
}

.contacto_label {
  font-size: 18px;
  font-weight: 600;
 
}

select.custom {
 outline: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-size: 1rem;
  border: 2px solid #39f2ae;
  color:#f5f5f5;
  background-color: #323941;
  
}

.contacto_input_textArea{
 outline: none;
  padding: 5px 0;
  border-bottom: 1.5px solid #39f2ae;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
  font-size: 17px;
  color: #f5f5f5;
  background-color: transparent;
}

.contacto_submit_boton {
  width:50%;
  display: flex;
  align-self: center;
  padding: 15px 35px;
  background-color: transparent;
  border-radius: 50px;
  color: #f2f2f2;
  font-weight: 400;
  border:1px solid  #39f2ae;
  font-size: 18px;
  cursor: pointer;
}

.contacto_submit_boton:hover{
  background-color: #39f2ae;
  color:black;
}



