/*fuente principal*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
 
/*reseteo de valores par defecto*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  background-color: #323941;
}

.info-bar {
  background-color: #3E4C59 ;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  position:fixed;
  width: 100%;
  height: 40px;
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

/* Estilos para la barra de navegacion */
nav {
  top: 40px;
  position: fixed;
  display: flex;
  width: 100%;
  height: 96px;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #282f4415;
  font-size: 1.2rem;
  color: #ffffff;
  /*border-bottom: 1px solid rgba(255, 255, 255, 0.4); 
  /*box-shadow: 0px 0px 10px #00000080;*/
  z-index: 999; /* Mayor valor de z-index para asegurar que esté sobre el fondo */
  /*transition: top 0.5s ease;*/
 
}

nav::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 5%; /* Centrar la línea */
  width: 85%; /* 85% del ancho */
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}


nav ul {
  display: flex; /*se ubica en línea la lista*/
  margin: 0;
  padding: 100px;
}

nav ul li {
  list-style: none; /*se eliminan las viñetas de los elementos de la lista*/
  margin: 0 25px;
}

nav ul li a {
  text-decoration: none; /*se elimina el subrayado a los elementos*/
  color: #ffffff;
}

nav ul li a:hover {
  color: #39f2ae;
}

.logo {
 width: 160px;
}

.nav-izquierda {
  display: flex; /*para mantener el logo y los elementos juntos a la izquierda */
  align-items: center;
  margin-left: -160px;
}

.nav-derecha {
  display: flex;
  align-items: center;
}

/* Contenedor del input */
.contenedor-input {
  position: relative; /* Para posicionar el ícono dentro del input */
  display: flex;
  align-items: center;
}

/* Estilo de la barrita de búsqueda */
.input-search {
  width: 160px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 1rem;
  outline: none;
  transition: width 0.4s ease-in-out;
  background-color: rgba(0, 0, 0, 0.2);
  color: #ffffff;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.478);
}


/* Ícono de lupa */
.search-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 1.2rem;
  color: #ffff;
}

/*Al enfocar se extiende la barra de búsqueda */
.input-search:focus {
  width: 250px;
}

/*Comienzo del slider de prueba*/
.slider {
  position: relative;
  width: 100%;
  height: 100vh; /* Ajusta según tus necesidades */
  overflow: hidden;
}

.slide {
  position: relative;
  width: 100%;
  height: 100%;
}

.slide img {
  width: 100%;
  height: auto; /* Asegura que las imágenes mantengan su relación de aspecto */
  display: block; /* Para eliminar espacio en la parte inferior */
}

.slider-wrapper{ /* "envoltorio de las imágenes del slider dispuestas en un grid de 3 columnas*/
    display: grid;
    grid-template-columns: repeat(3, 100%);
    transition: transform 1s ease-in-out; /* Transición suave para el efecto del slider */
}

.contenedor {
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  width: 100%;
  height: 100vh;
  margin-top:40px;
  position: relative;
  overflow: hidden;
  background-image: url(../img/imgen1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.contenedor {
  img {
    margin-top:24px;
    width: 430px;
    z-index: 5; /* para que quede por encima del overlay*/
   }
}

.contenedor__secundario{
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  background-position: center start;
  width: 100%;
  height: 100vh;
  margin-top: 2.5rem;
  position: relative;
  overflow: hidden;
  background-image: url(../img/imagen2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.contenedor__secundario{
  img{
   margin-top: 2.5rem;
   width: 18rem;
   z-index: 5;
 
   }
}

.contenedor__terciario{
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  background-position: center start;
  width: 100%;
  height: 100vh;
  margin-top: 2.5rem;
  position: relative;
  overflow: hidden;
  background-image: url(../img/imagen3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.contenedor__terciario{
  img{
   margin-top: 2.5rem;
   width: 16rem;
   z-index: 5;
   
   }
}

.superponer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  z-index: 4; /* Para que el oscurecimiento esté sobre el video/imagen */
}

.content {
  position: relative;
  z-index: 5; /* Contenido por encima de la imagen */
  color: rgb(255, 255, 255);
  font-optical-sizing: auto;
  padding: 16px;
 }

.content {
  h1 {
    font-size: 3rem;
   }
  p {
  margin-top: 24px;
  margin-bottom: 24px;
  font-size: 1.5rem;
 
  }
}

.btnMain, .btnMain_1, .btnComprar {
  font-size: 1rem;
  padding: 10px 20px;
  border: 2px solid #39f2ae ;
  border-radius: 1rem;
  width: 180px;
  cursor: pointer;
  margin-top: 32px;
}

.btnMain {
  background-color:#39f2ae8e;
  /*box-shadow: 1px 1px 5px #39f2ae;*/
  margin-right: 32px;
}

.btnMain_1, .btnComprar {
  background-color: transparent;
 
}

.btnMain a, .btnMain_1 a, .btnComprar a {
  text-decoration: none;
  color: #ffffff;
}

/***** Seccion destacados****/
.headline {
  padding-top: 50px; 
  padding-left: 160px;
  font-size: 2rem;
  color:#ffffff;
  /*text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Sombra suave negra */
 }

.all-products{
	display: flex;
	align-items: center;
	justify-content: center;
  flex-wrap: wrap;
  background-color: #323941;
}

.product{
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 32px;
  margin:32px;
	overflow: hidden;
	color: #39f2ae;
	border-radius: 18px;
	box-shadow: inset 0 0 10px 0 #39f2ae; 
}

.product-title {
	font-size: 1.2rem;
}

.product-price  {
 font-style:oblique;
 position: relative;/*recordá que esto es relativo a su posicion original*/
 top: -270px; 
 left: -60px;
 color:#ffffff;
 background-color: #39f2ae62; 
 box-shadow: 1px 1px 5px #39f2ae;
 padding: 5px;
 }

 .product-shipping{
  font-style: oblique;
  color:#b1b5c0;
  padding: 3px;
}

.product:hover img{
	scale:  1.1;
}

.product img {
	width:200px;
	margin: 16px;
  transition: all 0.3s;
}

.product-btn  {
	display: inline-block;
	border: 2px solid #39f2ae;
  background-color:#323941;
	padding: 10px 20px;
	border-radius: 16px;
	margin-top: 16px;
	font-size: 1.2rem;
  transition: all 0.2s;
}

.product-btn a {
  text-decoration: none;
  color: #ffff;
}

.product-btn:hover {
 transform: scale(1.1);
 }

/*estilos para la seccion colecciones*/
.coleccion-container {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;/*tengo dos columnas de una fracción c/u*/
  margin: 0 auto;
  overflow: hidden;
}

.hombre, .mujer {
  position: relative;
  overflow: hidden;
}

.hombre img, .mujer img {
  width: 100%;/*me ocupan todo el ancho disponible de la columna*/
  object-fit: cover;
  opacity: 0.9;
 }

.hombre h1, .mujer h1 {
  position: absolute;
  font-size: 2.5rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.806);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
 
}

.btn {
  position: absolute;
  top: 80%; 
  left: 50%;
  transform: translateX(-50%); /*corrige 50% para la izquierda*/
  background-color: transparent;
  color: #ffffff;
  font-size: 1.2rem;
  padding: 10px 20px;
  border: 2px solid #39f2ae;
  border-radius: 16px;
  width: 30%;
  cursor: pointer;
}

.btn a {
  text-decoration: none;
  color: #ffffff;
}

/*Estilos seccion categorias*/
.categorias_container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 90%;
  justify-content: center;
  align-items: center;
  margin: 16px auto;
  gap: 20px;
}

.categoria {
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition:  ease 0.5s;
  cursor: pointer;
 }

.categoria img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 2/3;
  transition: 0.5s ease;
}
.categoria:hover {
  transform: scale(1.03);
}

.categoria h2 {
  position: absolute;
  top: 16px;
  left: 0;
  right: 0;
  border-top: 1px solid #39f2ae;
  border-bottom:1px solid #39f2ae;
  background: rgba(255, 255, 255, 0.227); /* Fondo semitransparente para el texto */
  color:#ffffff;
  padding: 0.625rem;
  z-index:1; /* Me aseguro de que el texto quede por encima de la imagen */
  text-align: center;
  font-size: 1.5rem;
}


/**Estilos sección servicios**/
.servicios {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;/* Centra el contenedor */
  align-items: center;
  background-color:#b1b5c0;
  padding: 32px 0;
}

.servicios{
  i{ 
    padding:28px;
    color:#39f2ae;
    filter:drop-shadow(1px 1px 3px black)
  }
}


.columna-izq {
  text-align: center;
  border-right: 2px solid rgba(0, 0, 0, 0.448);
}

.columna-medio {
  text-align: center;
  border-right: 2px solid rgba(0, 0, 0, 0.448);
}

.columna-der {
  text-align: center;
}

/*Estilos para el footer*/
.footer-container {
  display: grid;
  grid-template: 160px 160px 64px /1fr 1fr 1fr;
  grid-template-areas: "arriba-izq arriba-medio arriba-der"
    "centro-izq centro-medio centro-der"
    "abajo abajo abajo";
  width: 100%;
  gap: 20px;
  background-color: #2f4858;
  color:#b1b5c0
}

.arriba-izq {
  grid-area: arriba-izq;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top:32px;
}

.arriba-izq ul {
  display: flex;
  list-style: none;
}

.arriba-izq ul li {
  padding: 13px;
}

.arriba-der {
  grid-area: arriba-der;
  padding-top: 32px;
  align-items: center;
  
}

.newsletter {
  display: flex;
  align-items: center;
  justify-content: center;
  padding:16px;
}

.newsletter i {
  margin-right: 16px;
}

.email-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.email-input {
  padding: 8px;
  font-size: 1rem;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
  background-color: #30353c;
  color: #ffff;
 }

 .btnEmail {
  background-color: #39f2ae91;
  color: #ffffff;
  font-size: 1rem;
  padding: 8px 8px;
  border: 1px solid #39f2ae;
  border-radius: 8px;
  cursor: pointer;
  }

.centro-izq {
  grid-area: centro-izq;
  align-items: center;
  text-align: center;
 
}

.centro-izq ul {
  list-style: none;
}

.list-title {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 16px;
  color:#39f2ae;
}

.centro-medio {
  grid-area: centro-medio;
  align-items: center;
  text-align: center;
  
}

.centro-medio ul {
  list-style: none;
}

.centro-der {
  grid-area: centro-der;
 
  color: #ffffff;
}

.centro-der img {
  width: 78px;
  height: auto;
  padding: 1rem;
}
.footer-container{
  i{
    color:#39f2ae;
  }
}

.abajo {
  grid-area: abajo;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3E4C59  ;
  border-top: 1px solid #39f2ae;
}

.abajo-content {
  color:#A0A4A8 ;
}